<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Common.Properties.Settings>
            <setting name="CSVServerFolderPath" serializeAs="String">
                <value>..\Server\Cantariri_Automate\</value>
            </setting>
            <setting name="ExcelExePath" serializeAs="String">
                <value>"c:\Program Files\Microsoft Office\root\Office16\EXCEL.EXE"</value>
            </setting>
        </Common.Properties.Settings>
    </userSettings>
</configuration>